
h2{
		color: #353535;
	}
label{
	color: yellow;
}

.scroll,.scroll1{
		height: 370px !important;
		overflow: auto;
	}
.container-fluid{
	margin-top: 40px;
}
#tmbh,#to1,.tabel, .ase, .aow {
		display: none;
		}
.scrol{
	height: 340px !important;
	overflow: auto;
}